@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

h1, h1, h3, h4,h5,h6{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding :0;
    margin: 0;
}
header{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color:black;
}
p {
    font-family:  Poppins, Arial, Helvetica, sans-serif;
}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    
}

nav {
    width: 600px;
}

.heart {
    align-self: baseline;
    margin-left: 20px;

   
}

nav ul {
    padding-left: 0;
    padding-right: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.header-container {
    display:grid;
    grid-template-columns: 0.5fr 12fr 2fr;
    height:50px;
    width: 100%;
    border-left: 2px;
    border-right: 2px;
    column-gap: 10px;
    align-content: center;
    justify-content: center;
    padding-bottom: 1px;
    grid-row-gap: 10px;
    text-align: center;
    align-items: center;
    

}

.npm_img{
    width:60px;
    margin-left: 10px;

}

.search-nav {
    float:left;
    display: grid;
    grid-template-columns: 7fr 1fr;
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    text-align: left;
    position: relative;
    
}

.search-nav input[type=text]{
    padding:12px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

  
.search-nav input{
    height:10px;
    width: 90%;
    background-color: rgba(0,0,0,.05);
    margin-bottom: 9px;
}

.glass{
   
    background-color: rgba(0,0,0,.05);
    padding:5.5px;
    margin-top: 8px;
    margin-left: 15px;
    left:0;
    top:0;
    float: left;
    width:2.5%;
}


.search-nav button{
    float:right;
    padding: 9px 10px;
    margin-top:-42px;
    margin-right: -54px;
    background: #FB3B49;
    border: none;
    cursor: pointer; 
    color: white;   
    width: 8%;
    float:right;
    
}


.search-button {
    color: white;
    background-color: #FB3B49;
    font-size: 10px;
    font-weight: 400;
    width: 14px ;
    line-height: 2.5em;
    font-size: 16px;
}



.join-loggin-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 3px;
    column-gap: 5px;
    height: 30px;
    margin-left: 1rem;
    background-color: none;
   
}

.join-loggin-buttons>.join-button {
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    font-weight: 400;
    font-size: 16px;
    width: 99%;
    position:relative;
    cursor:pointer;
    }
.join-loggin-buttons>.join-button:hover{
    background-color: lightgray;
}


.join-loggin-buttons>.loggin-button {
    color: black;
    background-color: rgba(247, 241, 241, 0.1);
    font-weight: 400;
    font-size: 16px;
    opacity: 0.6;
    border: none;
    width: 120%;
    cursor:pointer;
}

  .section-1 {
    display: flex;
    height:600px;
    width: 99%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 4em;
    text-align: center;
    background-color: rgba(232, 217, 217, .3);
    border-top: lightgrey thin solid;

}

.section-1>.buttons{
   flex-direction: row;
   align-self: center
}

.section-1>.wrapper-items>h1 {

    font-size: 60px;
    font-style: bold;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}

.section-1>.wrapper-items>p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2em;
    text-transform: full-width;
    padding: 10px 31%;


}

.see-plans-button {

    color: white;
    background-color: #FB3B49;
    font-size: 18px;
    font-weight: 500;
    width: 175px;
    border-style: black solid;
    line-height: 2.5em;
    margin-right: 2em;
    font-size: 20px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    border: none;
    cursor:pointer;
}



.join-for-free-button {
    color: black;
    background: none;
    font-size: 18px;
    font-weight: 500;
    width: 175px;
    line-height: 2.5em;
    font-size: 20px;
    border:none;
    cursor:pointer;
}

.section-2 {
    display: flex;
    position: column;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    margin-bottom: 1em;
}

.section-2>div>img {
    padding-bottom: 3em;
}

.section-2-items {
    padding-left: 18em;
    padding-right: 18em;
}

.section-2>div>.section-2-items>h2 {

    font-size: 1.9em;
    background: rgba(255, 204, 53, .4);
    transform: skewX(9deg);
    font-style: italic;
    font-weight: 500;
}
.section-2>div>.section-2-items>p{
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    padding: 0;
    
}

.section-3 {
    padding-bottom: 2rem;
    justify-content: space-between;
    grid-template-columns: 1fr;
    display: grid;
    
}

.section-3>.section-3-row {
    display: flex;
    position: row;
    flex-direction: row;
   
    align-items: baseline;
    margin-left: 8rem;
    margin-right: 8rem;
}

.section-3>.section-3-row>.section-3-item-1 {
    padding-right: 1.3rem;
}

.section-3>.section-3-row>.section-3-item-2 {
    text-align: left;
}

.section-3>.section-3-row>.section-3-item-3 {

    padding-left: 1.3rem;
}

.section-3>.section-3-row>.section-3-item-4 {
    padding-right: 1.3rem;
}

h5 {
    color: red;
    font-size: large;
    font-weight: 500;
}

.section-3-button {
    display: flex;
    position: row;
    justify-content: center;
    padding-top: 2rem;

}

.create-org-button {
    background-color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: white;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 3.5rem;
    margin-top: 3rem;
    text-align: center;
    border:none
}